/* HOJA DE ESTILO */

/* PALETA DE COLORES */
:root{
    --color1:#ff6f8d;
    --color2:#554f1f;
    --color3:#19302b;
    --color4:#0b1416;
    --color5:#fefefe;         
}

/* PAG INICIO (INDEX) */
    /* COLOR FONDO NARVAR */
    .navbar{
        background-color: #19302b;
            
    }

    /* TAMAÑO LOGO EN NARVAR */
    .logo{
        height: 70px;
    }

    .navbar-nav .nav-link {
        font-size: 20px; /* Tamaño de la letra */
        font-family: "Playfair Display", serif; /* Cambiar la fuente */
    }

    .navbar-nav .nav-link:hover {
        color: gray !important; /* Cambia el color del texto al pasar el ratón sobre el enlace */
        /*  important css tiene prioridad */
    }

    .navbar-nav .nav-link i {
        font-size: 24px; /* Tamaño del icono */
    }
  
    /* tamaño y estilo titulo */
    .subtitulos{ 
        color: var(--color3);
        font-size: 50px; 
        font-family: "Playfair Display", serif;
        text-decoration: none; /* Quita el subrayado */
        font-size: 40px;
    }

    .subtitulos:hover{
        color: gray;
        margin-top: 30%;
    }

    .fotos {
        width: 500px;
        border-radius: 10%;

    }
    /* BOTON BUSCAR */
    /* Cambiar color del botón al pasar el ratón por encima */
    .btn-buscar {
        background-color: seagreen; /* verde */
        border-color: var(--color5); /* también cambiamos el color del borde */
    }
    
    .btn-buscar:hover {
        background-color: var(--color2); 
        border-color: var(--color4); /* también cambiamos el color del borde */
    }

    /* slide */
/*Agregar margen a las imágenes más pequeñas */
    .carousel-item img {
        max-width: 100%; /* Establecer el ancho máximo al 50% */
        height: auto; /* Altura automática para mantener la relación de aspecto */
        
        object-fit: cover;
    }
    
    .carousel{
               
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .detalle {
        
        font-family: "Playfair Display", serif;

    }

    .vin-detalle {
        text-decoration: none;
    }
   

   
    .h3 {
        font-family: "Playfair Display", serif;
    }








    .foto-producto{
        max-width: 800px;
    }

    .h5{
        font-size: 50px;
        font-family: "Playfair Display", serif;
    }

    .parrafo{
        font-size: 20px;
        font-family: "Playfair Display", serif;

    }

    /* color boton volver inicio */
    .btn { 
        background-color: lightgrey;
    }
    
/* SECCION CONTACTANOS */
    /* Estilo CSS para el formulario con imagen de fondo */
    .formulario {
        background-image: url('../img/fondo\ negro.avif'); /* Ruta de imagen de fondo */
        background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
        background-position: center; /* Centra la imagen de fondo */
        padding: 60px; /* Añade un poco de espacio alrededor del formulario */
        font-family: "Playfair Display", serif; /* Cambiar la fuente */
        
    }
    .cont{
        margin-left: 20%;
        margin-right: 20%;
    }
    /* COLOR A BOTON FORMULARIO */
    .btn{
        background-color: seagreen;
        
    }


/* PIE DE PAGINA */
    .fin{
        /* COLOR FONDO */
        background-color: var(--color4);
        /* TAMAÑO ALTURA */
        max-height: 300px;

    }
    /* TAMAÑO LOGO PIE DE PAGINA */
    .logo2{
        height: 150px;
    }

/* ESTILOS PAGINA LOGIN */
/* ESTILOS PAGINA REGISTRO */


/* ESTILOS PAGINA ARTISTAS */
.carousel slide{
    max-height: 400px;
}

.h6{
    font-size: 50px;
    font-family: "Playfair Display", serif;
}
/* ESTILOS PAGINA PRODUCTOS */
/* ESTILOS PAGINA TECNICAS */
