/* HOJA DE ESTILO */

/* PALETA DE COLORES */
:root{
    --color1:#ff6f8d;
    --color2:#554f1f;
    --color3:#19302b;
    --color4:#0b1416;
    --color5:#fefefe;         
}

/* PAG INICIO (INDEX) */
/* COLOR FONDO NARVAR */
.navbar{
    background-color: var(--color3);
}

/* TAMAÑO LOGO EN NARVAR */
.logo{
    height: 70px;
}


/* SECCION CONTACTANOS */
/* Estilo CSS para el formulario con imagen de fondo */
.formulario {
    background-image: url('../img/fondo\ negro.avif'); /* Ruta de imagen de fondo */
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    padding: 60px; /* Añade un poco de espacio alrededor del formulario */
    
}
.cont{
    margin-left: 20%;
    margin-right: 20%;
}
/* COLOR MORADO A BOTON FORMULARIO */
.btn{
    background-color: var(--color2);
}


/* PIE DE PAGINA */
.fin{
    /* COLOR FONDO */
    background-color: var(--color4);
    /* TAMAÑO ALTURA */
    max-height: 300px;

}
/* TAMAÑO LOGO PIE DE PAGINA */
.logo2{
    height: 150px;
}

/* ESTILOS PAGINA LOGIN */
/* ESTILOS PAGINA REGISTRO */
/* ESTILOS PAGINA ARTISTAS */
.carousel slide{
    max-height: 400px;
}
/* ESTILOS PAGINA PRODUCTOS */
/* ESTILOS PAGINA TECNICAS */
